# Ignore PyCharm project files
.idea/
*.iml
# Ignore macOS system files
.DS_Store

# Ignore Python cache directories
referral_system/__pycache__/
referrals/__pycache__/
referrals/migrations/__pycache__/
referrals/model.joblib
referrals/model_columns.joblib
referrals/poly.joblib
referrals/scaler.joblib